/** {
    border: 1px solid red !important;
}*/


.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.3%;
}
.col-9 {
    width: 75%;
}

.container {
    max-width: 900px;
    margin: auto;
}